.main{
  scroll-behavior: smooth;
  overflow-y: hidden;
  
}

body{
  overflow: hidden;
  color: white;
  background-color: black;
}
.canvas{
  width: 100vw;
  height: 100vh;
  display: flex;
}


.overlay{
  display: flex;
  position: relative;
  padding: 60px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  font-size: calc(50px);
  
}
.heading{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 57px;
  overflow-y: hidden;
  
}
.icons{
  display: flex;
  gap: 1rem;
  position: fixed;
  
  
}

.follow{
  display: flex;
  position: absolute;
  color: white;
  gap: 1rem;
  padding-top: 60px;
  
}

.icon-wrapper{
  display: flex;
  position: absolute;
  overflow-y: hidden;
  height: 20px
}
.line{
  border: solid;
  width: 700px;
  overflow-x:hidden
}
.about{
  display: flex;
  width: 35vw;
  position: absolute;
  left: 3450px;
  top: 250px;
  font-size: calc(40px)
}

.bg{
  display: flex;
  width: 50vw;
  height: 10vh;
  background-color:black;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: calc(20px);
top: 170px;
  position: absolute;
}
@media screen and (max-width:500px){
 
 .overlay{
  padding: 20px;
  
  font-size: calc(30px);
  
 }
 .heading{
  height: 35px
 }
 .line{
  border: solid;
  width: 350px;
  border-width: 0.4px;
}
.about{
  width: 60vw;
  left: 3000px
}
.follow{
  padding-top: 40px
}

}
@media screen and (max-height:700px){
  body{
    overflow: hidden
  }
  .overlay{
   padding: 0px;
   font-size: calc(20px);
   justify-content: flex-start;
   padding: 20px
  }
  .heading{
   height: 30px
  }
  .line{
   border: solid;
   width: 350px;
   border-width: 0.4px;
 }
 .follow{
  flex-direction: column;
  padding-top: 50px
 }
 }